#content {
   padding: 0 !important; 
}
.contact-details{
	padding: 20px;
	background: #efefef;
	font-size: 22px;
	margin-bottom: 10px;
}
.contact-details2{
	margin-top: 5px;
	background: #efefef;
	margin-bottom: 10px;
	color: black;
}
.contact-details3{
	padding: 20px;
	background: #efefef;
	margin-bottom: 10px;
	font-size: 22px;

}
.fa{
	margin: 0 !important;
	padding: 0 !important; 
}

