#content {
   padding: 0 !important; 
}
.contact-details{
	padding: 20px;
	background: #efefef;
	font-size: 22px;
	margin-bottom: 10px;
}
.contact-details2{
	margin-top: 5px;
	background: #efefef;
	margin-bottom: 10px;
}
.contact-details3{
	float: right;
	margin-top: 5px;
	background: #efefef;
	margin-bottom: 10px;
}